<style>
    body {
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    {{#if messages.message}}
    <div id="flash-alert" class="alert alert-{{messages.type}} alert-dismissible fade show mt-2" role="alert">
        <strong>{{messages.type}}!</strong> {{{messages.message}}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-xl-4">
            <form action="/admin/profile/profileUpdateAvt" id="formAvatar" class="profileForm" method="post"
                enctype="multipart/form-data">
                <input type="hidden" name="userEmail" value="{{user.userEmail}}">
                <div class="row">
                    <div class="col pb-5">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Profile Picture</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                {{#if user.avatar}}
                                <img id="userAvatarPicture" class="img-account-profile rounded-circle mb-2"
                                    src="{{user.avatar}}" alt="avatar">
                                {{else}}
                                <img id="userAvatarPicture" class="img-account-profile rounded-circle mb-2"
                                    src="/avatars/sampleAvatar.png" alt="avatar">
                                {{/if }}
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <!-- Profile picture upload button-->
                                <button class="btn btn-info" type="button" id="uploadImgButton"
                                    onclick="document.getElementById('image').click();">Upload new
                                    image</button>
                                <button class="btn btn-primary" id="saveButtonUserAvatar" type="button" disabled>Save
                                    changes</button>
                                <input type="file" name="image" id="image" style="display: none;" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <form action="/admin/profile/changepassword" id="accountForm" method="post">
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Username</label>
                                    <input class="form-control" type="text" placeholder="Enter your username"
                                        value="{{userAccount.userName}}" disabled>
                                    <input type="hidden" name="userId" value="{{user._id}}">
                                    <input type="hidden" name="userEmail" value="{{user.userEmail}}">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md">
                                        <label class="small mb-1" for="inputPsdName">Current Password</label>
                                        <input class="inputUserAccount form-control" name="currentpassword"
                                            id="inputPsdName" type="password" placeholder="******" disabled>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3 changePasswordDiv d-none">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputNewPsd">New Password</label>
                                        <input class="inputUserAccount form-control" name="newpassword" id="inputNewPsd"
                                            type="password" placeholder="******" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCPsd">Confirm Password</label>
                                        <input class="inputUserAccount form-control" name="cpassword" id="inputCPsd"
                                            type="password" placeholder="******" disabled>
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-primary" id="saveButtonUserAccount" type="submit" disabled>Save
                                    changes</button>
                                <!-- Save changes button-->
                                <button class="btn btn-info" id="editButtonUserAccount" type="button">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">User Details</div>
                <div class="card-body">
                    <form action="/admin/profile/profileUpdateInfo" class="profileForm" method="post">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="inputUserDetail form-control" id="inputUsername" type="text"
                                placeholder="Nhập họ tên" name="fullName" value="{{user.fullName}}" disabled>
                        </div>
                        <!-- Form Row -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Address</label>
                                <input class="inputUserDetail form-control" id="inputLocation" type="text"
                                    placeholder="Nhập địa chỉ" name="address" value="{{user.address}}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputGender">Gender</label>
                                <select class="inputUserDetail form-control" name="gender" id="inputGender" disabled>
                                    {{#if user.gender}}
                                    <option value="male" {{isSelected user.gender 'male' }}>Male</option>
                                    <option value="female" {{isSelected user.gender 'female' }}>Female</option>
                                    <option value="other" {{isSelected user.gender 'other' }}>Other</option>
                                    {{else}}
                                    <option value='' selected>Chọn giới tính</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                    {{/if}}

                                </select>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                placeholder="Nhập email address" name="userEmail" value="{{user.userEmail}}" disabled>
                        </div>
                        <input type="hidden" name="userEmail" value="{{user.userEmail}}">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="inputUserDetail form-control" id="inputPhone" type="tel"
                                    placeholder="Nhập số điện thoại" name="phoneNumber" value="{{user.phoneNumber}}"
                                    disabled>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="inputUserDetail form-control" id="inputBirthday" type="date" name="dob"
                                    placeholder="Nhập ngày sinh" value="{{formatDate user.dob}}" disabled>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="saveButtonUserInfo" disabled>Save
                            changes</button>
                        <!-- Edit button-->
                        <button class="btn btn-info" type="button" id="editButtonUserInfo">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        image.onchange = evt => {
            const [file] = image.files
            if (file) {
                userAvatarPicture.src = URL.createObjectURL(file)
                $('#saveButtonUserAvatar').prop('disabled', false);
            }
        }

        $('#saveButtonUserAvatar').on('click', function () {
            $("#formAvatar").submit();
            $('#uploadImgButton').prop('disabled', false);
            $('#saveButtonUserAvatar').prop('disabled', true);
        });

        $('#editButtonUserInfo').on('click', function () {
            if ($('#editButtonUserInfo').text() == "Cancel") {
                $('#editButtonUserInfo').text("Edit")
                $('.inputUserDetail').prop('disabled', true);
                // $('#uploadImgButton').prop('disabled', true);
                $('#saveButtonUserInfo').prop('disabled', true);
            }
            else {
                $('#editButtonUserInfo').text("Cancel")
                $('.inputUserDetail').prop('disabled', false);
                //$('#uploadImgButton').prop('disabled', false);
                $('#saveButtonUserInfo').prop('disabled', false);
            }
        });
        $('#saveButtonUserInfo').on('click', function () {
            ("#profileForm").submit();
            $('.inputUserDetail').prop('disabled', true);
            //$('#uploadImgButton').prop('disabled', true);
            $('#saveButtonUserInfo').prop('disabled', true);
        });

        $('#editButtonUserAccount').on('click', function () {
            if ($('#editButtonUserAccount').text() == "Cancel") {
                $('#editButtonUserAccount').text("Edit")
                $('.inputUserAccount').prop('disabled', true);
                $('#saveButtonUserAccount').prop('disabled', true);
                $('.changePasswordDiv').addClass('d-none');
            }
            else {
                $('.inputUserAccount').prop('disabled', false);
                $('#saveButtonUserAccount').prop('disabled', false);
                $('.changePasswordDiv').removeClass('d-none');
                $('#editButtonUserAccount').text("Cancel");
            }
        });
        $('#saveButtonUserAccount').on('click', function () {
            $('#accountForm').submit();
            $('.inputUserAccount').prop('disabled', true);
            $('#saveButtonUserAccount').prop('disabled', true);
        });
    });

</script>